*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3D3D3D;
    padding: 16px 60px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    position: fixed;
    width:100%;
}
div h2 a{
    font-family: inter;
    color: #Ffffff;
    font-size: 18px;
    font-weight:450;
    text-decoration: none;
}
div h2 a:hover{
color: hsl(62, 100%, 46%);
}
.breaking-news{
    color: black;
}